{% extends 'base.html.twig' %}

{% block body %}
    {% for cat in cats %}
        {% for todo in cat.todos %}
            <h2>{{todo.title}}</h2>
            <p>{{todo.content}}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}
