{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'todo edit' | trans }}</h1>

    {{ include ('@App/todos/_edit_form.html.twig') }}

    <div class="uk-button-group">
        <a class="uk-button" href="{{ path('todos_index') }}">{{ 'back to the list' | trans }}</a>
    </div>
{% endblock %}
