{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todo edit</h1>

    {{ include ('@App/todos/_edit_form.html.twig') }}

    <ul>
        <li>
            <a href="{{ path('todos_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
