{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Todo edit' | trans }}</h1>

    {{ include ('@App/todos/_edit_form.html.twig') }}

    <ul>
        <li>
            <a href="{{ path('todos_index') }}">{{ 'Back to the list' | trans }}</a>
        </li>
    </ul>
{% endblock %}
