body, html {
    padding: 0;
    margin: 0;
    font: 400 14px/1.5em sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

content {
    flex: 1;
}

a, a:visited {
    color: blue;
}
