body {
    overflow: hidden;
}

content {
    display: flex;
}

.content {
    height: calc(100vh - 63px);
    overflow: auto;
}

.left {
    min-width: 300px;
    background-color: #eee;
    position: fixed;
    left: 0;
    top: 40px;
    height: 100%;
}

.left li {
    display:  flex;
    justify-content: space-between;
    padding: 0 1em;
}

.left li:before,
.left li:after {
    display:none;
}

.uk-block {
    padding: 1em;
}

header .uk-navbar {
    border-bottom: 1px solid #cdcdcd;
}

.uk-modal-dialog textarea {
    width: 100%;
    resize: vertical;
    min-height: 200px;
}

.uk-modal-dialog .title {
    width: 100%;
}
